nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
  width: 16rem;
  height: 2.8rem;
  cursor: pointer;
  margin-right: 6rem;
}

div.input-search-space {
  position: relative;
  width: 14rem;
  display: flex;
  align-items: center;
}

div.input-search-space input {
  outline: none;
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: whitesmoke;
  border-radius: 0.3rem;
  padding: 0.6rem;
}

div.input-search-space input:focus {
  border: 1px solid #0bade3;
}

i.bi-search {
  position: absolute;
  top: 1;
  right: 0.2rem;
  z-index: 10;
  border: none;
  background-color: whitesmoke;
  color: #757575;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

button {
  background-color: #0bade3;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-family: Roboto, Arial;
  font-weight: 500;
  letter-spacing: 0.1rem;
  /* width: 40%; */
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  /* margin-right: 2rem; */
  text-transform: uppercase;
}

button:hover {
  background-color: #0a86af;
}
